@font-face {
	font-family: 'Conv_NeoSansCyr-Medium';
	src: url('../fonts/NeoSansCyr-Medium.eot');
	src: url('../fonts/NeoSansCyr-Medium.woff') format('woff'),
	     url('../fonts/NeoSansCyr-Medium.ttf') format('truetype'),
	     url('../fonts/NeoSansCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_NeoSansCyr-Regular';
	src: url('../fonts/NeoSansCyr-Regular.eot');
	src: url('../fonts/NeoSansCyr-Regular.woff') format('woff'),
		 url('../fonts/NeoSansCyr-Regular.ttf') format('truetype'),
		 url('../fonts/NeoSansCyr-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,select,button,sup,sub,a {
	margin: 0;  
	padding: 0;   
}

.black_overlay {
	overflow:hidden;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:0.50;
	z-index:13;
	filter: alpha(opacity=50);
}
.white_content {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 305px;
	margin-top:-135px;
	margin-left:-152px;
	height: 200px;
	z-index:132132132132132132111123132132;
}


body,form,fieldset,input,textarea,p,blockquote,select,button  {font: normal 12px/1.4 Arial, Helvetica, sans-serif; }
body {background: url(../images/top_line.png) repeat-x top left;}
html
{
	font: normal 12px/1.4 Arial, Helvetica, sans-serif; 
	background: #fff;
	height: 100%;
	overflow-y: scroll;
	color: #444444;
}
a {color: #000;}
a, img
{	
	text-decoration: none;
	border: none;
	outline: none;
}

/*ul, li
{
	list-style: none;
}*/
h1, .h1 {
	font-size: 20px;
	font-weight: normal;
	color: #000;
	margin-bottom: 10px;
}
h2, .h2 {
	font-size: 18px;
	font-weight: normal;
	color: #000;
	margin-bottom: 10px;
}
h3, .h3 {
	font-size: 16px;
	font-weight: normal;
	color: #000;
	margin-bottom: 10px;
}
h4, .h4 {
	font-size: 14px;
	font-weight: normal;
	color: #000;
	margin-bottom: 10px;
}
h5, .h4 {
	font-size: 12px;
	font-weight: normal;
	color: #000;
	margin-bottom: 10px;
}
.topline
{
	width: 100%;
	height: 54px;
	background: url(../images/top_line.png) repeat-x;
	top: 0;
	margin-bottom: 20px;
}
.topline li
{
	float: left;
	height: 32px;
	margin-top: 14px;
	padding:0 10px;
	border-left: 1px dotted #787874;
}
.topline li:first-child
{
	border: none;
	padding-left: 0;
}
.topline li a
{
	display: block;
	color: #fefefe;
	padding: 7px 10px 0 10px;
	font-size: 13px;
	height: 28px;
	border-left: 1px solid none;
	border-right: 1px solid none;
	text-shadow: 1px 1px #000;
}
.topline li a:hover, .topline li a:active , .topline .menu_bg a  
{
	color: #94c946;
	background: url(../images/top_menu_button.png) repeat-x top left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 7px 9px 0 9px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}
.topline .wrapper
{   background: url(../images/top_line.png) repeat-x;
	margin: 0 auto;
	width: 1030px;	height: 54px;
}
.topmenu li { list-style-type:none!important;}
.topmenu
{	
	float: left;
	width: 850px; 
	position: absolute;
}

/* Login begin */
#errorenter { position:absolute; top:5px; right:0px; color: #F00; }
.login
{
	float: right;
	width: 180px;
	padding-top: 12px;
	text-align: right;
	position: relative;
}
.login a
{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	text-shadow: 1px 1px #000;
	margin-left: 20px;
	border-bottom: 1px dotted #fff;
}
.login a:hover
{
	color: #94c946;
	border-bottom: 1px dotted #94c946;
}
.login .log_popup
{
	display: none;
	position: absolute;
	background: #f4f4f1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	left: 30px;
	top: 50px;
	border: 2px solid #1c1c1c;
	z-index: 200;
	zoom: 1;
}
.login .log_popup td
{
	text-align: left;
}
.login .log_popup .log
{
	font-size: 18px;
	color: #444448;
	margin-bottom: 6px;
	text-shadow: 1px 0px srgb(255, 255, 255, 0.8);
}
.login .log_popup .loginput, .password 
{
	padding: 5px 5px;
	width: 135px;
	border: 1px solid #e7e7dd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #838387;
	font-size: 12px;
}
.login .log_popup .button
{
	background: url("../images/foot_button.png") repeat-x scroll 0 0 transparent;
    border: medium none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font: 14px sans-serif;
    height: 25px;
    margin-top: 5px;
    padding: 0 10px;
}
.login .log_popup a
{
	color: #75746b;
	font-size: 12px;
	text-shadow: none;
	border: none;
	text-decoration: underline;
	margin-left: 0;
}
.login .log_popup a:hover
{
	color: #94c946;
}
.login .arrowupline
{
	height: 20px;
	width: 100%;
	background: url(../images/arrowup.png) no-repeat 30px 13px;
	position: absolute;
	top: -20px;
	left: 0;
}
/* Login end */

.head
{
	margin: 0 auto 20px;
	width: 1024px;
	height: 80px;
	position: relative;
	z-index: 100;
}
.logo
{
	width: 255px; position:relative;
	height: 66px;
	background: url(../images/logo.png) no-repeat;
	float: left;
}
.logo a
{
	display: inline; position:absolute; top:0px; left:0px; z-index:1354354;
	width: 255px;
	height: 66px;	float: left; 
	text-decoration: none;

}
.head .phone
{
	width: 267px;
	height: 80px;
	background: url(../images/phone.png) no-repeat left top;
	float: left;
	margin-left: 22px;
}
.work_time
{
	width: 267px;
	height: 80px;
	background: url(../images/work_time.png) no-repeat left top;
	float: left;
	margin-left: 22px;
}
.chart
{
	float: right;
	width: 181px;
	height: 80px;
	background: url(../images/chart_bg.png) no-repeat left top;
}

#main
{
	margin: 0 auto;
	width: 1024px;
	height: auto;
	position: relative;
}
.left
{
	width: 220px;
	float: left;
	position: relative;
}
#slides
{
	margin: 0 auto;
	width: 1060px;
	height: 400px;
	position: relative;
}
.slides_container
{
	margin: 0 auto;
	width: 1024px;
	height: 321px;
	background: url(../images/slides_bg.png) no-repeat left bottom;
}
.slides_container .item
{
	width: 1024px;
	height: 313px;
	display: block;
	position: relative;
}

.slider_pagination {
	margin: 0 auto;
	padding-top: 20px;
	width:80px;
	height: 12px;
	z-index: 500;
}

.slider_pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.slider_pagination li a {
	display:block;
	width:12px;
	height: 2px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-repeat: no-repeat;
	background-position:0 -12px;
	float:left;
	overflow:hidden;
	text-indent: -5000;
}

.slider_pagination li.current a {
	background-position:0 0;
	background-repeat: no-repeat;
}
#slides .prev
{
	position:absolute;
	top:130px;
	left: 0;
	width:35px;
	height:35px;
	display:block;
	z-index:101;
}

#slides .next
{
	position:absolute;
	top:130px;
	right: 0;
	width:35px;
	height:35px;
	display:block;
	z-index:101;
}

#slides a.next:link
{
	background: url(../images/slider_arr.png) no-repeat -35px 0;
}
#slides a.next:hover
{
	background-position: -1px 0;
}
#slides a.prev:link
{
	background: url(../images/slider_arr.png) no-repeat -35px -35px;
}
#slides a.prev:hover
{
	background-position: -1px -35px;
}
#slides .price
{
	font-family: 'Conv_NeoSansCyr-Medium';
	color: #fff;
	font-size: 60px;
	position: absolute;
	top: 80px;
	left: 40px;
	text-shadow: 1px 1px 2px rgba(0, 1, 1, .4);
}
#slides .title
{
	font-family: 'Conv_NeoSansCyr-Medium';
	font-weight: normal;
	color: #fff;
	font-size: 25px;
	position: absolute;
	top: 180px;
	width: auto;
	left: 0;
	height: 35px;
	padding: 3px 50px 0 10px;
	background: url(../images/s_line2.png) repeat-x;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}
#slides .title:after
{
	display: block;
	width: 25px;
	height: 40px;
	top: 0;
	right: -25px;
	background-image: url(../images/s_line2_end.png);
	content: "";
	position: absolute;
}
#slides .parameters
{
	color: #838387;
	font-size: 12px;
	position: absolute;
	font-size: 12px;
	width: auto;
	left: 0;
	top: 220px;
	height: 75px;
	padding: 4px 10px 0 10px;
	background: url(../images/s_line3.png) repeat-x;
	z-index: 30 !important;	
}
#slides .parameters:after
{
	display: block;
	width: 52px;
	height: 79px;
	top: 0;
	right: -30px;
	background: url(../images/s_line3_end.png) no-repeat right top;
	content: "";
	position: absolute;	
	z-index: 20 !important;
}
#slides .parameters td
{
	height: 18px;
	color: #ecece8;
}
#slides .parameters .gray
{
	color: #838387;
	background: #1c1c1c;
	padding: 2px 4px 2px 0;
}
#slides .parameters div
{
	background: url(../images/dashed.png) repeat-x left -5px;
	padding-right: 50px;
}
#footer
{
	margin: 0 auto;
	clear: both;
	width: 100%;
	height: 277px;
	bottom: 0;
	font-weight: normal;
	line-height: 20px;
	
	background-image: url(../images/foot_bg.png);
    background-position: left bottom;
 	background-repeat: repeat-x;
    background-color:#1c1c1c ;
	
	
	
}
#footer h2, #footer .h2
{
	font-family: 'Conv_NeoSansCyr-Regular';
	font-weight: lighter;
	font-size: 18px;
	color: #c0c0c0!important;
	margin: 0 0 20px 0;
}
#footer .center
{background-image: url(../images/foot_bg.png);
    background-position: left bottom;
 	background-repeat: repeat-x;
    background-color:#1c1c1c ;
	margin: 0 auto;
	width: 1024px;
	height: 276px;
	border-top: 1px solid #343434;
}
#footer .foot_contacts
{
	width: 1024px;
	height: 220px;
}
#footer .contacts
{
	height: 150px;
	margin-top: 26px;
	border-right: 1px dashed #454547;
	padding-right: 25px;
	float: left;
}
#footer .graphic
{
	height: 150px;
	margin-top: 26px;
	border-right: 1px dashed #454547;
	padding: 0 25px;
	float: left;	
}
#footer .map
{
	height: 150px;
	margin-top: 26px;
	border-right: 1px dashed #454547;
	padding: 0 25px;
	float: left;	
}
#footer .map .h2
{
	margin-bottom: 10px;
}
#footer .form
{
	height: 150px;
	margin-top: 26px;
	padding: 0 35px;
	float: left;	
}
#footer .form .h2
{
	margin-bottom: 10px;
}
#footer .foot_contacts .text
{
	color: #9bc752;
	width: 175px;
	height: 20px;
	font: 12px sans-serif;
	background: #151515;
	border: none;
	border-top: 1px solid #0f0f0f;
	border-bottom: 1px solid #292929;
	float: left;
	padding: 3px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#footer .foot_contacts .textarea
{
	color: #9bc752;
	width: 175px;
	height: 50px;
	font: 12px sans-serif;
	resize: none;
	background: #151515;
	border: none;
	float: left;
	clear: both;
	margin-top: 2px;
	padding: 3px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#footer .button
{
	float: left;
	height: 25px;
	padding: 0 10px;
	color: #fff;
	font: 14px sans-serif;
	clear: both;
	background: url(../images/foot_button.png) repeat-x;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	margin-top: 18px;
}
.copyright
{
	position: relative;
}
.copyright .copy
{
	float: left;
	color: #444;
	text-shadow: 1px 1px #000101;
	margin-top: 15px;
	font-size: 11px;
}
.copyright .foot_menu
{
		margin-top: 15px;
		float: right;
}
.copyright li
{ list-style-type:none;
	float: left;
	height: 20px;
	padding: 0 10px;
	border-left: 1px solid #444;
	line-height: 12px;
	font-size: 10px;
}
.copyright a
{
	color: #444;
	line-height: 20px;
	vertical-align: middle;

}
.copyright a:hover
{
	color: #8cb442;
}
.copyright li:first-child
{
	border: none;
}
#footer .gray
{
	color: #a7a7a7;
	font-size: 14px;
	float: left;
	clear: both;
}
#footer .green
{
	color: #8cbf48;
	margin-left: 6px;
}
#forml select { width:150px;}
.left .search
{ width:220px;
	float: left;
	height: 35px;
	margin-bottom: 20px;
}
.left .search .keyword
{
	height: 32px;
	width: 220px;
	background: url(../images/search.png) no-repeat left top;
	border: none;
	padding: 0 35px 0 10px;
	font: 14px sans-serif;
	color: #75746a;

	line-height: 32px;
}
.left .menu
{
	width: 214px;
	margin-bottom: 25px;
	float: left;
	border: 3px solid #8ab943;
	border-bottom: 2px solid #8ab943;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #8ab943;
	z-index: 1000;
	zoom: 1;
	position: relative;
}
.mainmenu { list-style-type:none; }
.mainmenu ul { list-style-type:none; }
.left .menu .mainmenu > li a:hover {	color: #588910;}
.left .menu .mainmenu > li a {	text-transform: uppercase;
	font-weight: bold;
	color: #000;}
.left .menu .mainmenu > li
{  list-style-type:none; 
	background: url(../images/libg.gif);
	padding: 6px 0 6px 16px;
	border-bottom: 1px solid #8ab943;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;

}
.left .menu .mainmenu > li:hover a {color: #588910;}
.left .menu .mainmenu > li:hover
{
	background: none;
	color: #fff;
	cursor: pointer;
}
.left .menu .mainmenu .submenuhead
{
	display: none;
	position: absolute;
	left: 214px;
	top: -3px;
	float: left;
	background: #f4f4f1;
	padding: 20px;
	border: 2px solid #1c1c1c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 600px;
}
.left .menu .mainmenu .submenuhead div
{ min-height:320px;
    height:320px;
	width: 600px;
	margin-right: 100px;
	float: left;
}
.left .menu .submenuhead li
{
	color: #444;
	background: url(../images/leftarrow.gif) no-repeat right 8px !important;
	position: relative;
	cursor: default;
}
.left .menu .submenuhead li .inside_menu_head
{
 float: left; display:inline;
	width: 46%; 	line-height: 25px; 	
	border-bottom: 1px dashed #c7c7c7;
	margin-right: 20px;
}
.left .menu .submenuhead li ul li
{
	color: #444;
	background: none !important;
	position: relative;
	margin-left: 20px;
	line-height: 25px;
	list-style: outside disc;
}
.left .menu .submenuhead li:hover
{
	color: #588910;
}

.left .menu .submenu
{
	padding: 15px 0;
}
.submenuhead li a { color:#444!important}
.submenuhead li a:hover { color: #588910!important}

.left .menu .submenu li a
{
	color: #888; 
	text-transform: none;
	font-weight: normal;
}
.left .menu .submenu li:hover a
{
	color: #588910;
	cursor: pointer;
}
.left .menu .mainmenu > li:last-child
{
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.left .menu .mainmenu > li:first-child
{
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.left .banners
{
	margin-bottom: 25px;
	float: left;
}
.left .pools
{
	width: 220px;
	float: left;
	margin-bottom: 25px;
	padding-right: 10px;
}
.left .pools span
{
	display: block;
	float: left;
	width: 100%;
	line-height: 25px;
}
.left .pools input
{
	margin-right: 5px;
}
.left .pools .button
{
	float: left;
	height: 26px;
	width: 100px;
	padding: 0 10px;
	color: #333;
	font: 11px sans-serif;
	text-transform: uppercase;
	clear: both;
	background: url(../images/button.png) no-repeat;
	cursor: pointer;
	border: none;
	margin-top: 10px;
}
.left .pools .button:hover
{
	color: #8CBF48;
}
.left h1
{
	font: 18px Myriad Pro;
	color: #444448;
	text-transform: uppercase;
}
.content
{
	width: 785px;
	float: left;
	margin-left: 19px;
	z-index: 0;
	zoom: 1;
}
.simpletextbox2 {color: #444448;
	font: 18px Myriad Pro;
	text-transform: uppercase;
	padding: 6px 0 6px 0px;}
.content .title
{
	height: 30px;
	background: #f4f4f1 url(../images/title_left.png) left top no-repeat;
	position: relative;
	margin-bottom: 22px;
	width: 785px;
	float: left;
}
.content .title div
{
	color: #444448;
	font: 18px Myriad Pro;
	text-transform: uppercase;
	padding: 6px 0 0 20px;
}
.content h1
{
	color: #444448;
	font: 18px Myriad Pro;
	text-transform: uppercase;
	padding-top: 6px;
}
.content .title h1
{
	padding: 6px 0 0 20px;
}
.content .special { position:relative}
.content .special .title a  { position:absolute; right:50px; top:8px;}
.content .title .rightcorner
{
	width: 42px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/title_right.png) no-repeat;
}
.popular 
{
	float: left;
}
.content .wrapper
{
	width: 785px;
	float: left;
}
.content .popular div.tovar1,
.content .special div.tovar1,
.content .bought div.tovar1
{
	margin-right: -30px;
	margin-left: -5px;
}

.sorting .content  div.tovar,
.content .popular div.tovar,
.content .special div.tovar,
.content .bought div.tovar
{
	float: left;
	margin: 0 30px 15px 0;
	position: relative;
	height: 275px;
	width: 243px;
	display: block;
	background: url("../images/prod_bg.png") no-repeat scroll 0 0 transparent;
}

.sorting .content .item 

{
	height: 275px;
    width: 243px;
    display: block;
}


.content .item
{
	height: 275px;
    width: 243px;
    display: block;
}
.sorting .content  div.tovar:hover,
.content .popular div.tovar:hover,
.content .special div.tovar:hover,
.content .bought div.tovar:hover
{
	background-position: 0 -276px;
}
.popular .item .new
{
	position: absolute;
	width: 82px;
	height: 82px;
	top: 0;
	right: 0;
	background: url("../images/ribbons.png") no-repeat scroll 0 0 transparent;
}
.special .item .new
{
	position: absolute;
	width: 82px;
	height: 82px;
	top: 0;
	right: 0;
	background: url("../images/ribbons.png") no-repeat scroll -82px 0 transparent;
}
.bought .item .new
{
	position: absolute;
	width: 82px;
	height: 82px;
	top: 0;
	right: 0;
	background: url("../images/ribbons.png") no-repeat scroll -164px 0 transparent;
}
.content .item .thumb
{
	display: block;
	width: 160px;
	height: 160px;
	margin: 20px auto 5px;
}
.content .item .thumb img
{
	max-width: 160px;
	max-height: 160px;
}
.content .item .description
{
	display: block;
	margin: 0 15px 10px 22px;
	color: #444;
	font-size: 12px;
}

.buybuttons
{
	float: left;
clear: both;
margin-left: 22px;
position: relative;
}

.content .item .addtochart
{
display:inline-block;

}
.content .item .addtochart input , .sorting .item1 .addtochart input
{
	display: block;
	width: 104px;
	height: 26px;
	color: #333;
	background: url("../images/add_chart.png") no-repeat left top;
	border: none;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 11px;
}
.content .item .addtochart input:hover , .sorting .content .item1 .addtochart input:hover 
{
	background: url("../images/add_chart_hover.png") no-repeat left top;
	color: #fff;
}

.buyincredit
{
position: relative;
left: 115px;
top: -26px;
}

.buyincredit input 
{
	cursor:pointer;
	background: url("../images/credit.png") no-repeat left top;

}
.buyincredit input:hover
{
	background: url("../images/credithover.png") no-repeat left top;
}

.firstcreditpunch
{

display: block;
width: 124px;
position: absolute;
top: 0;
left: 0;

}


.content .price
{
	color: #6c4b46;
	font-size: 14px;
	font-weight: bold;
	float: right;
	margin: 0px 22px 0 0;
	/*max-width: 80px;*/
}
.content .simpletextbox
{
	float: left;
	clear: both;
	margin-bottom: 40px;
	line-height: 20px;
}
.content .simpletextbox .more
{
	color: #588910;
	text-decoration: none;
	border-bottom: 1px dashed #588910;
}
.content .simpletextbox .more:after
{
	content: ">";
	border-bottom: none;
	margin-left: 2px;
}
.content .simpletextbox p
{
	margin-bottom: 15px;
}
.phone .name, .work_time .name
{
	color: #838387;
	float: left;
	margin: 10px 0 6px 45px;
}
.phone .number
{
	color: #444;
	font-size: 24px;
	float: left;
	clear: both; white-space:nowrap;
	margin-left: 45px;
}
.work_time .time
{
	clear: both;white-space:nowrap;
	float: left;
	margin-left: 45px;
}
.work_time .sunday
{
	float: left;
    white-space:nowrap;
	color: #444;
	margin-left: 45px;
}
.work_time .red
{
	color: #ed1f24;

}
.charttitle
{
	font-family: 'Conv_NeoSansCyr-Regular';
	float: left;
	margin: 8px 0 0 50px;
	font-size: 18px;
	color: #444448;
}
.charttitle2 a {color: #ED1F24!important;}
.charttitle2
{
	
	float: left;
	margin: 12px 0 0 50px;
	font-size: 12px;
	color: #444448;
}
.chart .prods
{
	float: left;
	margin-left: 50px;
}
.chart .summ
{
	float: left;
	margin-left: 50px;
}
.chart .red
{
	float: left;
	color: #ed1f24;
	margin-left: 4px;
}
.pagetitle h1  {font-size: 30px;
	color: #1c1c1c;  padding-top:0px;
	text-transform: none;}
.pagetitle
{
	margin-bottom: 15px;
	padding: 0;
	_height: 40px;min-height: 40px;
	
}
.pagetitle span
{
	font-size: 30px;
	color: #1c1c1c;
	text-transform: none;
}
.breadcrubms
{
	height: 20px;
	margin-bottom: 15px;
}
.breadcrubms li
{ list-style-type:none;
	float: left;
	margin-right: 5px;
}
.breadcrubms li a
{
	color: #588910;
	text-decoration: underline;
	font-size: 12px;
}
.breadcrubms li:before
{
	color: #666;
	content: "/";
	padding-right: 5px;
}
.breadcrubms li:first-child:before
{
	color: #588910;
	content: "";
	padding-right: 0px;
}
.breadcrubms li a:active, .breadcrubms li a:hover, .breadcrubms li:last-child a
{
	color: #666;
	text-decoration: none;
}
.sorting
{
	width: 100%;
	float: left;
	position: relative;
}
.sorting .page_navigation2
{
	margin: 5px 0;
	float: right;
}
.sorting .page_navigation2 a
{
	color: #333;
	margin: 0 1px;
	padding: 3px 7px;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; text-decoration:none!important;
	background: #f8f8f8;
	-moz-box-shadow: 0px 1px 2px #e2e2e2;
	-webkit-box-shadow: 0px 1px 2px #e2e2e2;	
	box-shadow: 0px 1px 2px #e2e2e2;
	-moz-box-shadow: inset 0px 1px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 1px #fff;	
	box-shadow: inset 0px 1px 1px #fff;
	behavior: url(../js/pie/PIE.htc);				
}
.sorting .page_navigation .previous_link
{
	padding: 3px 7px;
	color: #333;
	background: #f8f8f8;
	text-indent: 9999px;
	-moz-box-shadow: 0px 1px 1px #e2e2e2;
	-webkit-box-shadow: 0px 1px 1px #e2e2e2;	
	box-shadow: 0px 1px 1px #e2e2e2;
	-moz-box-shadow: inset 0px 1px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 1px #fff;	
	box-shadow: inset 0px 1px 1px #fff;	
}
.sorting .page_navigation .next_link
{
	padding: 3px 7px;
	color: #333;
	background: #f8f8f8;
	text-indent: -9999px;
	-moz-box-shadow: 0px 1px 1px #e2e2e2;
	-webkit-box-shadow: 0px 1px 1px #e2e2e2;	
	box-shadow: 0px 1px 1px #e2e2e2;
	-moz-box-shadow: inset 0px 1px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 1px #fff;	
	box-shadow: inset 0px 1px 1px #fff;	
}
.sorting .page_navigation .active_page
{
	background: #f0f0f0;
	color: #619c09;
	-moz-box-shadow: 0px 1px 1px #e2e2e2;
	-webkit-box-shadow: 0px 1px 1px #e2e2e2;	
	box-shadow: 0px 1px 1px #e2e2e2;
	-moz-box-shadow: inset 0px 1px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 1px #fff;	
	box-shadow: inset 0px 1px 1px #fff;	
}
.sorting .itemsort
{
	height: 30px;
	width: 430px;
	float: left;
	background: #f4f4f1 url(../images/title_left.png) no-repeat left top;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 15px;
	behavior: url(../js/pie/PIE.htc);
}
.sorting .itemsort .sorttitle
{
	color: #444448;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	text-indent: 20px;
	float: left;
}
.sorting .itemsort .rating, .sorting .itemsort .price, .sorting .itemsort .popularity
{
	color: #444448;
	font-size: 12px;
	line-height: 30px;
	text-indent: 5px;
	float: left;
	margin: 0;
	font-weight: normal;
}
.sorting .itemsort .decrease
{
	display: block;
	width: 11px;
	height: 6px;
	background: url(../images/sort_arrows.png) 0 6px;
	float: left; 
	text-indent: -5000px;
	margin: 14px 0 0 13px;
}
.sorting .itemsort .decrease:hover
{
	background-position: 11px 6px;
}
.sorting .itemsort .increase
{
	display: block;
	width: 11px;
	height: 6px;
	background: url(../images/sort_arrows.png) 0 0;
	float: left; 
	text-indent: -5000px;
	margin: 14px 0 0 0;
}
.sorting .itemsort .increase:hover
{
	background-position: 11px 0;
}
.sorting .content
{
	margin-left: -4px;
}
.sorting .content .item1
{
    cursor: pointer;
    display: block;
    width: 793px;
    height: 199px;
	position: relative !important;
}
.sorting .content div.tovar1
{
    cursor: pointer;
    display: block;
    width: 793px;
    height: 199px;
    background: url(../images/hor_prod_bg.png) no-repeat left top;
    margin-bottom: 10px;
}
.sorting .content div.tovar1:hover
{
	background-position: 0 -199px;
}
.sorting .content .item1 .thumb
{
    display: block;
    height: 170px;
    width: 180px;
    margin: 0;
    padding: 15px 0 0 20px;
    float: left;
}
.sorting .content .item .thumb
{
    display: block;
    height: 170px;
    width: 180px;
    margin: 0;
    padding: 15px 0 0 20px;
    float: left;
}
.sorting .content .item1 .thumb img
{
	max-width: 180px;
	max-height: 170px;
}
.sorting .content .item .thumb img
{
	max-width: 180px;
	max-height: 170px;
}
.sorting .item1 .popular
{
	position: absolute;
	width: 82px;
	height: 82px;
	top: 0;
	right: 0;
	background: url("../images/ribbons.png") no-repeat scroll 0 0 transparent;
}
.sorting .item1 .descr_wrapper
{
	width: 240px;
	float: left;
	padding: 20px 0 0 20px;
	text-align: left;
	position:relative;
}
.sorting .item1 .description
{
	height: 40px;
	margin: 0;
	color: #444;
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-bottom: 10px;
}
.sorting .item1 .price
{
	float: left;
	clear: both;
	margin: 20px 0 10px 0;
	font-size: 30px;
	color: #588910;
}
.sorting .item1 .price .smallfont
{
	font-size: 12px;
}
.sorting .item1 .prev_price
{
	color: #888;
	font-size: 14px!important;
	float: left;
	clear: both;
	margin: 20px 0 -20px 0;
	text-decoration: none;
}
.sorting .item1 .parameters
{
	float: left!important;
	height: 100px!important;
	width: 310px!important;
	margin: 20px 0 0 20px;
	color: #888!important;
	line-height: 12px!important;
}
.sorting .item1 .underdash
{
	display: block;
	background: url("../images/dashed.png") repeat-x scroll left -5px transparent;
    padding-right: 10px;
}
.sorting .item1 .underdash .gray
{
	padding: 3px 4px;
	background: #fff;
}
.productbox
{

	float: left;
	padding: 20px 10px 20px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #d7d7d3;
	width: 763px;
	margin-bottom: 20px;
}
.prod_show_box
{
	float: left;
	width: 450px;
}
.productbox #bigPic{
	width:450px;
	height:300px;
	padding:1px;
	margin-bottom:10px;
	vertical-align: middle;
	float: left;
}
.productbox #bigPic img{
	position:absolute;
	display:none;
	max-width: 430px !important;
	max-height: 270px;
}
.productbox ul#thumbs
{
	display: block;
	float: left;
}
.productbox ul#thumbs li.active{
	border:1px solid #8ab943;	
	background:#fff;
	padding:3px;
}
.productbox ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
 
.productbox ul#thumbs li{
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	border:1px solid #d7d7d3;	
	padding:3px;
	cursor:pointer;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
.productbox ul#thumbs img{
	float:left;
	max-width:90px !important;
	max-height:90px;
	line-height:90px;
	overflow:hidden;
	position:relative;
	z-index:1;
	vertical-align: middle;		
}
.prod_parm_col
{
	float: left;
	width: 300px;
	margin-left: 10px;
}
.productbox .articul
{
	float: left;
	width: 200px;
	height: 20px;
	color: #888;
	font-size: 11px;
}
.productbox .prod_articul
{
	color: #619c09;
}
.productbox .parameters
{
	float: left;
	clear: both;
	text-align: left;
	
}
.productbox .parameters table
{
	font-size: 12px !important;
}
.productbox .parameters td
{
	text-align: left;
}
.productbox .parameters a
{
	text-transform: uppercase;
	color: #444;
	text-decoration: underline;
}
.productbox .parameters a:hover
{
	color: #619c09;
}
.productbox .underdash
{
	display: block;
	background: url("../images/dashed.png") repeat-x scroll left -5px transparent;
    padding-right: 10px;
    margin: 0;
}
.productbox .underdash .gray
{
	padding: 3px 4px 3px 0;
	background: #fff;
	font-weight: bold;
}
.productbox .addchart_block
{
	color: #444;
	font-size: 12px;
	padding-top: 30px;
}
.productbox .addtochart
{
	float: left;
	margin-left: 22px;
}
.productbox .addtochart input
{
	display: block;
	width: 90px;
	height: 26px;
	color: #fff;
	background: #619c09;
	border: none;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}
.productbox .addtochart input:hover
{
	background: red;
	cursor: pointer;
	color: #fff;
}
.productbox .price
{
	float: left;
	clear: both;
	margin: 0 0 15px 0;
	font-size: 30px;
	color: #588910;
}
.productbox .price .smallfont
{
	font-size: 12px;
}
.parameters table
{
	border-collapse: collapse;
	text-align: left;
	font-size: 10px;
}
.parameters tr.tablerow td
{
	border-top: 1px solid #D7D7D3;
}
.parameters tr.tablerow:first-child td
{
	border-top: 0;
}
.prev_price
{
	color: #e7193f!important;
	font-size: 17px!important;
	float: left;
	clear: both;
	margin: 0;font-weight: bold;
/*	text-decoration: line-through;*/
}
.tovar .prev_price
{
	color: #e7193f;
	font-size: 12px!important; font-weight: bold;

	clear: both;
	margin: 0;
	text-decoration: line-through;
}

.productbox span.quantity
{
	padding-left: 20px;
}
.productbox input
{
	width: 20px;
	font-size: 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	border: 1px solid #d7d7d3;
}
.tabs
{
	padding: 40px 0 20px 0;
	border: 1px solid #d7d7d3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 30px;
	float: left;
}
.tabs li
{
	float: left;
	list-style: none;
}
.tabs li:first-child
{
	margin-left: 20px;
}
.tabs > div
{
	padding: 20px 20px 0 20px;
	margin-top: 3px;
	border-top: 1px solid #d7d7d3;
	margin-top: 19px;
}
.tabs > div p
{
	margin-bottom: 15px;
}
.tabs > div ul li
{
	float: none;
	margin: 0 0 5px 20px;
	list-style: disc outside;
}

ul.tabNavigation li span {
	color: silver !important;
	
}

ul.tabNavigation li a, ul.tabNavigation li span
{
	font-size: 14px;
	font-weight: bold;
	padding: 3px 20px;
	color: #619c09;
    text-decoration: none;
	border: 1px solid #d7d7d3;
	border-bottom: none;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-radius: 10px 10px 0 0; 
	background: #fff;
	behavior: url(pie/PIE.htc);
}
ul.tabNavigation li a.selected
{
	color: #000;
	padding-top: 10px;
	border: 1px solid #d7d7d3;
	border-bottom: none;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-radius: 10px 10px 0 0;
	behavior: url(pie/PIE.htc); 
}
ul.tabNavigation li a:focus
{
	outline: 0;
}
/* tabs end */
.alsobought
{
	margin-bottom: 30px;
	float: left;
}
.alsobought ul
{
	margin-right: -30px;
	margin-left: -5px;
}
.alsobought div.tovar
{
	float: left;
	margin: 0 30px 15px 0;
	position: relative;
	height: 275px;
	width: 243px;
	display: block;
	background: url("../images/prod_bg.png") no-repeat scroll 0 0 transparent;
}
.alsobought div.tovar:hover
{
	background-position: 0 -276px;
}

.buttonsblock {
	padding: 0 25px;
	text-align: right;
	margin: 0 0 10px 0;
}

.simpletextbox ol
{
	list-style: inside;
}

/* Misc */
.block_center { text-align: center; margin: 20px auto; width: 100%; }
.block_right { float: right; width: 300px; margin: 0 0 10px 10px; }
.block_left { float: left; margin: 0 10px 10px 0; width: 300px; }
.block_right img, .block_left img, .block_right iframe, .block_left iframe { display: block; max-width: 300px; margin: 10px auto 0; }
.block_right div, .block_left div, .block_center div { text-align: center; font-size: 11px; font-style: italic; }
.block_right div ul, .block_left div ul, .block_center div ul { text-align: left; list-style: inside disc; }
.block_right div ol, .block_left div ol, .block_center div ol { text-align: left; list-style: inside decimal; }
.img_right { float: right; max-width: 300px; margin: 0 0 10px 10px; }
.img_left { float: left; max-width: 300px; margin: 0 10px 10px 0; }
.clear { clear: both; }
.nowrap { white-space: nowrap; }
.block_img { float: right; max-width: 250px; font-style: italic; margin: 0 0 10px 10px; text-align: center;}
.block_img img { float: none !important; max-width: 250px; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

.mapa LI
{
	margin-left:20px;
}

.pagesmapa A
{
	text-decoration:underline;
	
}

.pagesmapa  
{
	margin-bottom:10px;
}
a.workhours
{
color: #838387;
}
a.workhours span.hidetext 
{
	font-size: 0px;
}
a.workhours:hover span.hidetext 
{
	font-size: 14px;
	background-color: #f4ffe4;
	border: 1px dashed;
	position: absolute;
	margin-left: -65px;
	margin-top: -80px;
	font-weight: bold;
	min-width: 80px;
}
span.boldtext 
{
	font-weight: bold;
	text-decoration: underline;
}

p.ul_marg
{
	margin-top: 15px;
}
.menusmall A
{
	color: black;
	text-decoration: underline;
}

.work_time .ad
{
	font-weight: bold;
	position: relative;
	left: -38px;
	top: 10px;
}
.work_time .rez
{
	position: relative;
	left: -33px;
	top: 10px;
}
.work_time .rez span
{
	font-weight: bold;
}
.page_content ol
{
	list-style-position: inside;
}
.page_content p, .page_content li
{
	margin-bottom: 5px;
}
.page_content h2
{
	margin-top: 20px;
}


#light_box {
	position: fixed;
	bottom: 0; top: 0; right: 0; left: 0;
	background: url(../images/bg_lightbox_ie.png) repeat;
	background: rgba(0,0,0,0.3);
	z-index: 999;
}
.popup_region {
	width: 758px;
	height: 190px;
	/*margin: 90px auto 0;*/
	padding: 28px 0 0 40px;
	font: 18px/1.2 'Myriad Pro', sans-serif;
	color: #000;
	background: url(../images/bg_popup_region.png) 0 0 no-repeat;	
	margin-top: -95px;
	z-index: 10000;
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -379px;
	margin-top: -95px;	
}
	.popup_region {
		
	}
	.popup_title {
		display: inline-block;
		vertical-align: top;
		margin: 10px 0 0;
		font-size: 30px;
	}
	.select_region {
		display: inline-block;
		width: 332px;
		height: 51px;
		margin: 0 0 15px 50px;
		padding: 5px 0 0;
		font-size: 36px;
		color: #4a4a4a;
		text-align: center;
		background: url(../images/bg_selected_region.png) 0 0 no-repeat;
	}
	.popup_hint {
		margin:  0 0 13px;
	}
	.popup_region a {
		display: inline-block;
		height: 44px;
		padding: 5px 0 0;
		font-size: 30px;
		color: #000;
		text-align: center;
		text-decoration: none;
		background-color: transparent;
		background-image: url(../images/bg_popup_btn.png);
		background-repeat: no-repeat;
		/*border: 1px solid #fff;
		background: -moz-linear-gradient(bottom, #dadada 0, #e6e6e6 100%);
		background: -webkit-linear-gradient(bottom, #dadada 0, #e6e6e6 100%);
		background: -o-linear-gradient(bottom, #dadada 0, #e6e6e6 100%);
		background: -ms-linear-gradient(bottom, #dadada 0, #e6e6e6 100%);
		background: linear-gradient(bottom, #dadada 0, #e6e6e6 100%);
		-webkit-box-shadow: 0 2px 3px rgba(3,3,3,0.3);
		-moz-box-shadow: 0 2px 3px rgba(3,3,3,0.3);
		box-shadow: 0 2px 3px rgba(3,3,3,0.3);*/
	}
	.popup_region a:hover {
		/*border: 1px solid #fff;
		background: -moz-linear-gradient(bottom, #e8e8e8 0, #fff 100%);
		background: -webkit-linear-gradient(bottom, #e8e8e8 0, #fff 100%);
		background: -o-linear-gradient(bottom, #e8e8e8 0, #fff 100%);
		background: -ms-linear-gradient(bottom, #e8e8e8 0, #fff 100%);
		background: linear-gradient(bottom, #e8e8e8 0, #fff 100%);*/
	}
	.popup_moscow {
		width: 159px;
		background-position: 0 0;
	}
	.popup_moscow:hover, .popup_moscow.active {
		background-position: 0 -91px;
	}
	.popup_spb {
		width: 281px;
		margin: 0 10px;
		background-position: -173px 0px;
	}
	.popup_spb:hover, .popup_spb.active {
		background-position: -173px -91px;
	}
	.popup_else {
		width: 256px;	
		background-position: -469px 0;
	}
		.popup_else:hover, .popup_else.active {
				background-position: -469px -91px;
		}


/*выбор города*/
.login .choose_city {
	margin: 4px 0 0 58px;
	text-align: left;
	position: relative;
}
	.login .choose_city>a {
		margin: 0;
		position: relative;
	}
	.choose_city .city_arrow {
		display: inline-block;
		position: absolute;
		top: 7px;
		right: -11px;
		width: 7px;
		height: 4px;
		background: url(../images/city_choose_arrow.png) no-repeat 0 -4px;
	}
	.choose_city a:hover .city_arrow {
		background-position: 0 0;
	}
	.login .city_popup {
		display: none;
		position: absolute;
		background: #f4f4f1;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding: 15px;
		left: -15px;
		top: 20px;
		border: 2px solid #1c1c1c;
		z-index: 200;
		zoom: 1;
	}
		.login .city_popup a {
			display: block;
			margin: 10px 0 0;
			border: none;
		}
		.login .city_popup a:first-child {
			margin: 0;
		}
			.login .city_popup a span{
				border-bottom: 1px dotted #444;
				color: #444;
				text-shadow: none;
			}
			.login .city_popup a:hover span{
				border-bottom: 1px dotted #94c946;
				color: #94c946;
			}


/* Login end */

/* ссылка и форма "нашли дешевле"*/

.price_comlain {
	border-bottom:1px dashed #588910;
	font-weight:bold;
	cursor:pointer;
	font-size: 14px;
	color: #588910;
	white-space:nowrap;
}
.price_comlain:hover {
	border-bottom-color: transparent;
}
/* lightbox */
#light_box {
	position: fixed;
	display: none;
	top: 0;right: 0;bottom: 0;left: 0;
	width: 100%;
	height: 100%;
	background: url(./images/bg_lightbox_ie.png) repeat 0 0;
	background: rgba(0,0,0,0.3);
	z-index: 1000;
}


/* Container */
#complainlayer-container { display: none; }
#complainlayer a {text-decoration:none; font-size:11px; color:#000;}
#complainlayer a:hover {color:#EC1B29;}
#complainlayer-container { position: fixed; right: 50%; top: 150px; z-index: 1001;  width:350px; margin: 0 -175px 0 0; font: 12px/16px; text-align:left; background:#fff; border:2px solid #8d8b8b;}
#complainlayer-container {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
#complainlayer-container .header {height:20px; color:#000; font-weight:bold; margin:5px 35px 0; text-align:center; font-size:11px;}
#complainlayer-container .message {margin:0; padding:12px;}
#complainlayer-container .message td {padding:5px 0 0; color:#333; font-size:12px;}
#complainlayer-container .message .success {padding:5px 0; font-size:12px;}
#complainlayer-container .message .close-button {text-align:center; padding:5px;}
#complainlayer-container .message .submit {
	background: url("../images/foot_button.png") repeat-x scroll 0 0 transparent;
    border: medium none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font: 14px sans-serif;
    height: 25px;
    margin-top: 5px;
    padding: 0 10px;
    width: 80px;
    text-transform: uppercase;
}
#complainlayer-container .message div {padding:2px 0;}
#complainlayer-container .field {
	width:200px;
	height:20px;
}
#complainlayer-container .errfield {
	border:1px solid red;
}
#complainlayer-container .aright {text-align:right;}
#complainlayer-container .hint {color:#8d8b8b; font-size:10px;}
#complainlayer-container .bottom {position:absolute; bottom:5px; border-top:1px dotted #8d8b8b; height:20px; margin:0 12px; width:426px; text-align:right; padding:10px 0;}
#complainlayer-container a.modal-close,
#complainlayer-container a.modal-close:link,
#complainlayer-container a.modal-close:active,
#complainlayer-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:3px; top:3px; color:#fff;}
#complainlayer-container a.modal-close:hover {color:#ccc;}


.dn
{
	display:none;
}
				
.db
{
	display:block;
				
}
.colorcheck
{
	margin:20px 0; 
}
.fname
{	
	font-weight:bold;
}
.fmenu A
{
	margin:10px 20px 10px 0 !important;	
	font-weight:bold;
	display:inline-block;
}
.colorcheck LABEL
{
	cursor:pointer;
}

/* Иконочки */
.product_icons
{
	position: relative;
	list-style: inside none;
	z-index: 100;
}
.product_icons:after
{
	content: '. .';
	display: block;
	word-spacing: 99in;
	height: 0;
	overflow: hidden;
	font-size: 0.13em;
	line-height: 0;
}
	.product_icons li
	{
		display: inline-block;
		margin: 0 !important;		
	}
	
	/* Иконка */
	.product_icons .product_icon
	{
		float: left;
		width: 90px;
		height: 115px;
		position: relative;
		text-align: center;
		font-weight: bold;
		font-size: 11px;
	}	
		.product_icons .product_icon .product_icon_img
		{
			height: 75px;	
		}
		
		/* Всплывашка */		
		.product_icon_desc
		{
			display: none;
			position: absolute;
			bottom: 122px;
			margin-left: 24px;
			
			border: 2px solid #94c946;
			border-radius: 10px;
			background: #f4f4f1;
			
			width: auto !important;
			
			 -webkit-box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.19);
			box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.19);
			
			z-index: 10000;
			
			behavior: url('PIE.htc');			
		}
			.product_icon_desc:after
			{
				content:"";
				position: absolute;
				bottom: -6px;
				left: 10px;
				display: block;
				width: 14px;
				height: 6px;
				background: url('../images/info-corner.png') top center no-repeat;	
			}
		
		.product_icons li:hover .product_icon_desc
		{
			display: block;	
		}
			
			.product_icon_desc p
			{
				margin: 8px 10px 8px 10px;				
			}
			
			.product_icon_desc a
			{
				color: #3058a0;
				text-decoration: underline;	
			}
				.product_icon_desc a:hover
				{
					text-decoration: none;	
				}
			
			.product_icon_desc .header
			{
				background: #ffffff;
				border-bottom: 1px solid #94c946;
				border-radius: 10px 10px 0 0;
				padding: 9px 14px 4px 14px;
				behavior: url('PIE.htc');
			}
/* List */			
.tovar1 .product_icons 
{
	top:53px;
	/*left:220px;*/
	height:80px;
	position:absolute;
	width:450px;
}
.tovar1 .product_icons .product_icon
{
 width:45px;
 height: 57px;
}
	.tovar1  .product_icons .product_icon .product_icon_img
	{
		height:37px;
	}
	.tovar1  .product_icons .product_icon .product_icon_img img
	{
	max-width:30px;
	}
	
	
	.tovar1 .product_icon_desc
	{
		bottom: 80px;
	}
	.tovar1 .product_icon
	{      
		font-size:10px;
	}
	.tovar1 .product_icon_desc
	{
		font-size:100%;
	}

	.menutype UL
	{
		display:block;
		margin-top:10px;
	}
	
	.menutype P
	{
		color:black;		
		font-weight:bold;
		clear:both !important;
		position:relative;
		top:15px;
		bottom:10px;
		margin:20px 0;
		font-style:italic;
	}