<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Купить со скидкой</name>
    <description>Модуль Купить со скидкой</description>
    <icon>basket.png</icon>
    <category>order,form</category>
    <adminmenu>
        <title>Купить со скидкой</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>basket.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/discount/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
         <podmenu>
            <podmenu_name>Обзор заявок</podmenu_name>
            <podmenu_icon>basket_go.png</podmenu_icon>
            <podmenu_action>javascript:window.location.replace('?plugin=discount')</podmenu_action>
        </podmenu>
    </adminmenu>
</module>