html, body {
	height:100%;
	}
body {
	font-family: Arial;
	font-size: 11px;
	color: black;
	width:100%;
	}

.hack:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}
.hack {display: inline-block;}

/* Hides from IE-mac \*/

* html .hack {height: 1%;}
.hack {display: block;}
	

ul {
	list-style-type: disc;
	padding: 0 0 10px 20px;
	}

ol {
	list-style-type: decimal;
	padding: 0px 0 10px 20px;
	}

li {
	}


p {
	padding: 0 0 14px 0;
	}

hr {
	border: none;
	height: 1px;
	background: black;
	color: black;
	margin: 20px 0 20px 0;
	}
	
h1, h2, h3, h4, h5 {
	color: black;
	padding: 0px 0 10px 0 ;
	margin: 0;
	font-weight: normal;
	}
	h1 {
		font-size: 30px;
		}
	h2 {
		font-size: 24px;
		}
	h3 {
		font-size: 18px;
		}
	h4 {
		font-size: 14px;
		}
	h5 {
		font-size: 12px;
		}

a {
	color: #7bc5f7;
	}
	a:hover {
		color: #7bc5f7;
		}
	a:visited {
		color: #7bc5f7;
		}
	a:visited:hover {
		color: #7bc5f7;
		}
		
		
		
		
#wrap {
	padding: 20px;
	}
		
		

/*
<!--[if lte IE 7]>
<style type="text/css">
    ul.cats-list li {
        display: inline
    }
</style>
<![endif]-->
*/


ul.list-cats {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
	ul.list-cats li {
		list-style-type: none;
		background: none;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		text-align: center;
		
		display:-moz-inline-box; 
		display:inline-block;
		vertical-align:top; 
		*zoom:1; 
		*display:inline;
		
		}
		ul.list-cats li a {
			display: block;
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			text-align: center;
			
			color: black;
			text-decoration: none;
			}
			ul.list-cats li a:hover, ul.list-cats li a.selected {
				color: black;
				}

				
.left_col, .right_col {
	display:-moz-inline-box; 
	display:inline-block;
	vertical-align:top; 
	*zoom:1; 
	*display:inline;
	margin: 0 0 20px 0;
	}
	.left_col { float: left; }
	.right_col { float: right; }

/* forms */



input.btn {
	height: 22px;
	line-height: 22px;
	width: 63px;
	background: #91c74d url(design/btn_bg.jpg) no-repeat;
	font-size: 11px;
	color: white;
	cursor: pointer;
	border: none;
	padding: 0px;
	margin: 0px;
	}

.reset {
	padding: 0;
	margin: 0;
	border: 0;
	}
	
	
/* tab */

table.tab {
	/*border: 1px solid #052f57;*/
	border-collapse: collapse;
	background: transparent;
	margin: 0px 0 18px 0;
	}
	table.tab tr th {
		color: white;
		background: #052f57;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		padding: 5px;
		}
		table.tab tr th a {
			color: white; 
			text-decoration: none;
			}
	table.tab tr {
		vertical-align: top;
		}
	table.tab td {
		background: none repeat scroll 0 0 #E9E9E9;
		padding: 3px 5px;
		text-align: center;
	}
	
	table.tab input {
		border: 1px solid #E0E0E0;
		font-size: 11px;
		height: 16px;
		padding: 2px 4px;
		width: 98%;
		}
	table.tab textarea {
		font-size: 11px;
		height: 16px;
		padding: 2px;
		/*width: 98%;*/
		width: 280px;
		}

input.green {
	/*background: green;
	color: white;*/
	}
	
blockquote {
	border-radius: 10px;
	margin: 0 0 20px 0;
	padding: 20px;
	background: #f0f0f0;
	color: #909090;
	
	display:-moz-inline-box; 
	display:inline-block;
	vertical-align:top; 
	*zoom:1; 
	*display:inline;
	}
	blockquote * {
		color: #909090;
		}
		blockquote a:visited {<br>
			color: #909090;
			}

.reset {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	}
	
.login_panel {
	background: #d4d7db;
	padding: 5px 20px;
	}
	
.dashed {
	text-decoration: none;
	border-bottom: 1px dashed;
	}
	
#memorandum {
	display: none;
	}
	
.block {
	margin: 0 0 20px 0;
	padding: 10px;
	border-radius: 10px;
	}
	.block.success {
		background: #ccffcc
		}
                
                .block.errors {
                    background: #ff4040;
                }
		
.dublicate {
	background: #ffffcc
	}
	
.row_count {
	font-size: 7px;
	color: gray;
	}